{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>タスク管理アプリ</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
  </head>

  <body>
    <h1>{{ task.title }}</h1>
    <p>{{ task.body }}</p>
    <ul>
      <li>投稿日: {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li>締め切り: {{ task.due_at }}</li>
      {% endif %}
      {% if task.completed %}
      <li>進捗: <font color="blue">完了済み</font></li>
      {% else %}
      <li>進捗: <font color="red">未完了</font></li>
      {% endif %}
    </ul>
    <div>
      <a href="{% url 'index' %}">TOPに戻る</a>
      <a href="{% url 'update' task.id%}">編集する</a>
      <a href="{% url 'delete' task.id %}">削除する</a>
      <a href="{% url 'close' task.id %}">完了とする</a>
    </div>
  </body>

</html>