{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>タスク管理アプリ</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
  </head>

  <body>
    <h1>編集</h1>
    <p>下の欄から編集ができます</p>
    <form action="{% url 'update' task.id%}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">タイトル</label><br>
        <input id="titleInput" name="title" type="text" placeholder="タイトルを入れてください" value="{{ task.title }}">
      </div>
      <div>
        <p>追加で書き込みたいことを入力</p>
        <textarea name="body" id="bodyinput" placeholder="書き込みたいことを入力" rows="10" cols="50">{{ task.body }}</textarea>
      </div>
      <div>
        <label for="dueInput">締め切り:</label><br>
        <input id="dueInput" name="due_at" type="datetime-local" value="{{ task.due_at |date:"Y-m-d H:i" }}">
      </div>
      <div>
        <button type="submit">変更</button>
      </div>
    </form>
    <br>
  </body>

</html>
