{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>カレンダーアプリ</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
  </head>

  <body>
    <h1 id="Top">タスク管理アプリ</h1>
    <p>下の欄からタスクを提出できます</p>
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">タイトル</label><br>
        <input id="titleInput" name="title" type="text" placeholder="タイトルを入れてください">
      </div>
      <div>
        <p>追加で書き込みたいことを入力</p>
        <textarea name="body" placeholder="書き込みたいことを入力" id="bodyinput" rows="10" cols="50"></textarea>
      </div>
      <div>
        <label for="dueInput">締め切り</label><br>
        <input id="dueInput" name="due_at" type="datetime-local">
      </div>
      <div>
        <button type="submit">登録</button>
      </div>
    </form>
    <br>

    <div>
      <a href="{% url 'index' %}?order=due">締め切りでソートする</a> |
      <a href="{% url 'index' %}?order=post">投稿日でソートする</a>
    </div>

    {% if tasks %}
    {% for task in tasks %}
    <div class="text">
      <h2><a href="{% url 'detail' task.id %}">{{ task.title }}</a></h2>
      <ul>
        <li>投稿時間: {{ task.posted_at }}</li>
        {% if task.due_at %} 
        <li>締め切り: {{ task.due_at }}</li>
        {% endif %}
        {% if task.completed %} 
        <li>進捗: <font color="blue">完了済み</font></li>
        {% else %}
        <li>進捗: <font color="red">未完了</font></li>
        {% endif %}
      </ul>
    </div>
    {% endfor %}
    {% else %}
    <h2>まだ何も投稿されていないようです</h2>
    {% endif %}
    <a href="#Top">上まで戻る</a>
  </body>

</html>